mixin Education 
  +Section({image: `${CWD}assets/images/education-video-header.jpg`, video:{mp4: `${CWD}assets/videos/education/video`, webm: `${CWD}assets/videos/education/video`,ogv: `${CWD}assets/videos/education/video`}},container).text-white.py-6
      .row.justify-content-end.align-items-center.vh-50.py-8
        .col-sm-6.col-md-4.col-lg-3
          a.link-300.btn.d-block.w-100.text-uppercase.ls-2(href='#!', style="background: rgba(0, 33, 71, 0.9); border-color: rgba(255, 255, 255, 0.35);") Apply
          a.link-300.btn.d-block.w-100.text-uppercase.ls-2.mt-2(href='#!', style="background: rgba(0, 33, 71, 0.9); border-color: rgba(255, 255, 255, 0.35);") Request info
          a.link-300.btn.d-block.w-100.text-uppercase.ls-2.mt-2(href='#!', style="background: rgba(0, 33, 71, 0.9); border-color: rgba(255, 255, 255, 0.35);") Visit

  section.pt-3.pb-0.bg-100.text-center 
    .container-fluid 
      .row.align-items-center
        .col
          p.mb-0.fs-10
            strong Download Posh Today 
            | for your next web design project 
            a(href='#!').fw-semi-bold.link-warning for you or your clients
            | . Learn more about 
            a(href='#!').fw-semi-bold.link-warning Posh cool features
            | , 
            a(href='#!').fw-semi-bold.link-warning detailed documentation 
            | and 
            a(href='#!').fw-semi-bold.link-warning  excellent support
            | .
        .col-12
          hr.text-300.mb-0

  +Section(container).bg-100
    .row.justify-content-center
      .col-xl-8
        p.fs-7.text-center Released in 2017 with a vision to renovate the web design; Posh Today is a global trend setter in beautiful design and modern user experience.

  +Section(container)
    .row
      .col-xl-8
        .row.align-items-center.mb-5
          .col-auto.px-0
            h3 News
          .col
            span.text-400 |
            a(href="#!").btn.px-3.btn-link.link-oxford All News

        .row
          a.link-1100(href="#!").col-lg-6.mb-5
            img.rounded-1(src=`${CWD}assets/images/education-01.jpg` alt="Generic placeholder image")
            h5.mt-3.mb-2.color-oxford The 12 Most Unusual Features of Posh
            .d-inline-block.text-600 19 JUL 2017

          a.link-1100(href="#!").col-lg-6.mb-5
            img.rounded-1(src=`${CWD}assets/images/education-02.jpg` alt="Generic placeholder image")
            h5.mt-3.mb-2.color-oxford 9 Ways to Found the Hidden Features
            .d-inline-block.text-600 18 JUL 2017

          a.link-1100(href="#!").col-lg-6.mb-5
            img.rounded-1(src=`${CWD}assets/images/education-03.jpg` alt="Generic placeholder image")
            h5.mt-3.mb-2.color-oxford 8 Tips to Make Your Website Looks Clean
            .d-inline-block.text-600 Why are people searching the definition of 'deuce'?
            .d-inline-block.text-600 18 JUL 2017

          a.link-1100(href="#!").col-lg-6.mb-5
            img.rounded-1(src=`${CWD}assets/images/education-04.jpg` alt="Generic placeholder image")
            h5.mt-3.mb-2.color-oxford 6 Sure Ways to Get Rid of a Page Loading Time
            .d-inline-block.text-600 19 JUL 2017

      .col-xl-4.ps-xl-5
        .row.align-items-center.mb-5
          .col-auto.px-0
            h3 Events
          .col
            span.text-400 |
            a(href="#!").btn.px-3.btn-link.link-oxford All Events
        a(href="#!").link-1100.row
          .col-4
            .background-oxford.text-white.p-2.text-center.rounded-1.lh-1
              .fs-7 21
              .d-block JUL
          .col.ps-0 
            h5.color-oxford CSS Dev Conf 2017
            .d-inline-block Weston Library
            br
            .d-inline-block.text-600 21 JUL 2017

        hr.text-300
        a(href="#!").link-1100.row.mt-4
          .col-4
            .background-oxford.text-white.p-2.text-center.rounded-1.lh-1
              .fs-7 22
              .d-block JUL
          .col.ps-0 
            h5.color-oxford NYC Design 2017
            .d-inline-block Christ Church Cathedral
            br
            .d-inline-block.text-600 22 JUL 2017

        hr.text-300
        a(href="#!").link-1100.row.mt-4
          .col-4
            .background-oxford.text-white.p-2.text-center.rounded-1.lh-1
              .fs-7 23
              .d-block JUL
          .col.ps-0 
            h5.color-oxford ThemeWagon Maker Party
            .d-inline-block Ashmolean Museum
            br
            .d-inline-block.text-600 23 JUL 2017

        hr.text-300
        a(href="#!").link-1100.row.mt-4
          .col-4
            .background-oxford.text-white.p-2.text-center.rounded-1.lh-1
              .fs-7 24
              .d-block JUL
          .col.ps-0 
            h5.color-oxford Angular JS Developer Conference
            .d-inline-block Ashmolean Museum
            br
            .d-inline-block.text-600 24 JUL 2017

        hr.text-300
        a(href="#!").link-1100.row.mt-4
          .col-4
            .background-oxford.text-white.p-2.text-center.rounded-1.lh-1
              .fs-7 25
              .d-block JUL
          .col.ps-0 
            h5.color-oxford Big Design Day
            .d-inline-block Christ Church Picture Gallery
            br
            .d-inline-block.text-600 25 JUL 2017

        hr.text-300
        a(href="#!").link-1100.row.mt-4
          .col-4
            .background-oxford.text-white.p-2.text-center.rounded-1.lh-1
              .fs-7 26
              .d-block JUL
          .col.ps-0 
            h5.color-oxford Laracon 2017
            .d-inline-block Wolfson College
            br
            .d-inline-block.text-600 26 JUL 2017

  section.py-11.text-center 
    .bg-holder.overlay.overlay-2(style=`background-image:url('${CWD}assets/images/education-banner.jpg')`)
    .container
      .row.justify-content-center
        .col-lg-8
          h2.mb-3.text-white Explore Posh
      .row
        .col
          a.link-300.fs-8.me-3(href='#!') Visitor
            span.ms-3.d-inline-block |
          a.link-300.fs-8.me-3(href='#!') Information
            span.ms-3.d-inline-block |
          a.link-300.fs-8.me-3(href='#!') Virtual tours
            span.ms-3.d-inline-block |
          a.link-300.fs-8.me-3(href='#!') Online Courses
            span.ms-3.d-inline-block |
          a.link-300.fs-8.me-3(href='#!') Maps &amp; Directions

  +Section(container).text-center
    .row.justify-content-center
      .col-lg-8
        h2.color-oxford Research
      .col-lg-6
        p.fs-8.fw-light.mb-5 A culture of collaboration that drives innovative discoveries vital to our world, our health and our

      .col-12
        hr.text-300.mb-4
    .row
      .col-lg-4
        h3.fw-normal.color-oxford 18 Institutes
        p.fs-8.fw-light.text-800 Cross interdisciplinary boundaries

      .col-12.d-lg-none
        hr.text-300.mb-4

      .col-lg-4
        h3.fw-normal.color-oxford 20 Libraries
        p.fs-8.fw-light.text-800 Hold over 9.5 million volumes

      .col-12.d-lg-none
        hr.text-300.mb-4

      .col-lg-4
        h3.fw-normal.color-oxford &dollar;1.6 Billion
        p.fs-8.fw-light.text-800 Annual research budget

      .col-12
        hr.text-300.mb-0

  section.text-center.py-0
    .container-fluid.px-0
      .row.g-0(data-isotope!={
        layout: 'packery'
      })
        .isotope-item.col-lg-2.col-md-4(style='padding: 1px')
          a.text-white(href='#!')
            .hoverbox
              img.w-100(src=`${CWD}assets/images/education-05.jpg` alt="Generic placeholder image")
              .hoverbox-content.text-white.justify-content-center.row.align-items-center.bg-1100.py-8
                .col-12
                  p Posh comes with 100+ built in layouts. Rigorously tested and optimized for phones, tabs, laptops and all other devices. 
        .isotope-item.col-lg-2.col-md-4(style='padding: 1px')
          a.text-white(href='#!')
            .hoverbox
              img.w-100(src=`${CWD}assets/images/education-06.jpg` alt="Generic placeholder image")
              .hoverbox-content.text-white.justify-content-center.row.align-items-center.bg-1100.py-3
                .col-12
                  p Create what you need with Posh. You will be surprised seeing the final results of your creation and crave for more.
        .isotope-item.col-lg-2.col-md-4(style='padding: 1px')
          a.text-white(href='#!')
            .hoverbox
              img.w-100(src=`${CWD}assets/images/education-07.jpg` alt="Generic placeholder image")
              .hoverbox-content.text-white.justify-content-center.row.align-items-center.bg-1100.py-3
                .col-12
                  p A multiverse template with modularity at core that gives you the power to make sites in no time with minimum coding.
        .isotope-item.col-lg-2.col-md-4(style='padding: 1px')
          a.text-white(href='#!')
            .hoverbox
              img.w-100(src=`${CWD}assets/images/education-08.jpg` alt="Generic placeholder image")
              .hoverbox-content.text-white.justify-content-center.row.align-items-center.bg-1100
                .col-12.p-0
                  img.w-100(src=`${CWD}assets/images/education-09.jpg` alt="Generic placeholder image")
        .isotope-item.col-lg-4.col-md-4(style='padding: 1px')
          a.text-white(href='#!')
            .hoverbox
              img.w-100(src=`${CWD}assets/images/education-10.jpg` alt="Generic placeholder image")
              .hoverbox-content.text-white.justify-content-center.row.align-items-center.bg-1100
                .col-12.p-0
                  img.w-100(src=`${CWD}assets/images/education-11.jpg` alt="Generic placeholder image")

        .isotope-item.col-lg-6(style='padding: 1px')
          a.text-white(href='#!')
            .hoverbox
              img.w-100(src=`${CWD}assets/images/education-12.jpg` alt="Generic placeholder image") 

  +Section(container)
    .row
      .col-lg-6.mb-5.mb-lg-0
        .row
          .col-12
            h5.mb-3.color-oxford Helpful Links
          .col-lg-6
            a(href="#!").btn.btn-link.link-800.btn-sm.ps-0 Texas Residency &rarr;
            a(href="#!").btn.btn-link.link-800.btn-sm.ps-0 Admissions Glossary &rarr;
            a(href="#!").btn.btn-link.link-800.btn-sm.ps-0 SHARE Student Volunteers &rarr;

          .col-lg-6
            a(href="#!").btn.btn-link.link-800.btn-sm.ps-0 Counselor Resources &rarr;
            a(href="#!").btn.btn-link.link-800.btn-sm.ps-0 Admissions Research &rarr;
            a(href="#!").btn.btn-link.link-800.btn-sm.ps-0 Exes for Texas &rarr;

      .col-lg-6
        h5.mb-3.color-oxford Ask Admissions
        p.fs-8.fw-light Can't find what you're looking for? Just type your question below to Ask Admissions.
        form
          .input-group
            input.form-control(type='text', placeholder='Search for...')
            span.input-group-btn
              button.btn.btn-oxford(type='button') Ask!

mixin EducationFooter 
  footer.background-oxford.py-6 
    .container 
      .row.justify-content-between
        .col-lg-3
          img.d-block.mb-4(src=`${CWD}assets/images/education-logo.svg` alt="Generic placeholder image" style='max-width: 300px;')
          .ms-lg-n2
            a.p-2.link-400(href="#")
              span.fab.fa-facebook-f(style="font-size:14.5px")
            a.p-2.link-400(href="#")
              span.fab.fa-twitter(style="font-size:14px")
            a.p-2.link-400(href="#")
              span.fab.fa-instagram(data-fa-transform="down-1")
          .ms-lg-n2
            a.p-2.link-400.d-block(href="#")
              span(style="transform: rotate(90deg); " data-fa-transform="up-1").fas.fa-phone.fs-10
              span.ms-2 512-475-7399
        .col-1.text-center.d-none.d-lg-block(style="border-right: 1px solid rgba(255,255, 255,0.1);")
        .col-lg-3.ps-lg-4
          .row
            .col-6
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Explore
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Apply
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Afford
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Enroll
            .col-6
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Visit
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Mystatus
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Sign up
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Contact
        .col-1.text-center.d-none.d-lg-block(style="border-right: 1px solid rgba(255,255, 255,0.1);")
        .col-lg-3.ps-lg-4
          .row
            .col-12
              h6.my-3.mt-lg-0.text-300.text-uppercase Related Links
              hr(align="left").short.left.text-700
            .col-6
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 UT Home
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 University Resources
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Web Accessibility
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Web Privacy
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Equal Opportunity
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Campus Safety
              a(href="#").btn.btn-link.btn-sm.link-400.ps-0 Campus Concealed Carry Rules

