mixin Cards 
  +Section(container).pricing
    .row.justify-content-center.mb-6
      .col-lg-8.text-center
        h3.fw-normal Everything you need, covered.
        p.lead.mb-6.text-700 Crafted with advance thinking to help you do more

        .row.row-col-1.row-cols-lg-2
          .col.mb-5.mb-lg-0
            .card.border-300.h-100 
              .card-header.bg-200.border-bottom-0 
                h4.text-900.fw-normal.py-2.m-0 Standard 
              .card-body.pb-3
                h2.fw-normal.text-1100 $89
                h6.text-600 20,000 pageviews / day
                ul.style-check.text-start.mt-5.lh-8.text-800
                  li Bootstrap 5
                  li 7 Days Money Back Guarantee
                  li 6 Months Support
                  li Responsive
                  li Retina Ready
                  li 100+ Layouts
              .card-footer.bg-white.border-top-0.pt-3 
                a.btn.btn-outline-primary(href="#!")  Try free for 30 days
                br
                p.fs-10.mt-2.mb-0 
                  | or 
                  a(href="#!")  Purchase now
          
          .col.mb-5.mb-lg-0
            .card.border.border-primary.h-100 
              .card-header.bg-primary.border-bottom-0 
                h4.text-white.fw-normal.py-2.m-0 Advanced 
              .card-body.pb-3 
                h2.fw-normal.text-primary $989
                h6.text-600 800,000 pageviews / day
                ul.style-check.text-start.mt-5.lh-8.text-800
                  li 
                    strong Everything in Standard
                  li Bootstrap 5
                  li 7 Days Money Back Guarantee
                  li 6 Months Support
                  li 100+ Layouts
                  li 10 Demos
                  li 250+ Styled components
                  li All browsers compatible
                  li Detailed Documentation
                  li Dedicated Support
                
              .card-footer.bg-white.border-top-0.pt-3 
                a.btn.btn-primary(href="#!")  Try free for 30 days
                br
                p.fs-10.mt-2.mb-0 
                  | or 
                  a(href="#!")  Purchase now 

    .row.justify-content-center.mt-8 
      .col-lg-6.text-center 
        h4.mb-6 Top features of Posh

    .row.justify-content-center 
      .col-lg-8 
        .row 
          .col-md-6.py-2 
            .d-flex.align-items-center 
              span.me-3.fs-6.icon-Money-2.text-primary
              | Crafted with Bootstrap 5
          
          .col-md-6.py-2 
            .d-flex.align-items-center 
              span.me-3.fs-6.icon-Add-UserStar.text-primary
              | 100+ Layouts
          
          .col-md-6.py-2 
            .d-flex.align-items-center 
              span.me-3.fs-6.icon-Monitor-Analytics.text-primary
              | 10 Demos

          .col-md-6.py-2 
            .d-flex.align-items-center 
              span.me-3.fs-6.icon-Big-Data.link-primary
              | 250+ Styled components

          .col-md-6.py-2 
            .d-flex.align-items-center 
              span.me-3.fs-6.icon-Copyright.text-primary
              | Removal of Posh branding

          .col-md-6.py-2 
            .d-flex.align-items-center 
              span.me-3.fs-6.icon-Hello.text-primary
              | Detailed Documentation

mixin Highlight 
  section.py-0.text-center 
    .container-fluid
        .py-3.border.border-start-0.border-end-0.border-300 
          p.mb-0 
            strong Download Today 
            | for your next web design project.
            a.link-warning.fw-semi-bold(href="#!")  Learn more 
            | about Posh 

mixin FAQSection 
  +Section(container)
    .row.justify-content-center 
      .col-lg-6.text-center 
        h4.mb-7 Frequently asked questions 
    
    .row 
      .col-lg-6.px-lg-5 
        .mb-5 
          h5.fs-9.mb-3.text-1100  What is a Posh Software user?
          p.text-700.fw-light A Posh Software user is any user that can login to Posh Software and exists in User Management.

        .mb-5 
          h5.fs-9.mb-3.text-1100  How are users counted towards billing?
          p.text-700.fw-light You can add and remove users as your team changes. At the end of each monthly billing cycle, you will be billed for the following month's subscription based on the exact number of Posh Software users you have. For annual subscriptions, you will be billed for the tier that most closely matches your user count.

        .mb-5 
          h5.fs-9.mb-3.text-1100  What payment options do you accept?
          p.text-700.fw-light We accept MasterCard, Visa, and American Express. For customers purchasing an annual subscription, we also accept bank transfers or checks.
        
        .mb-5 
          h5.fs-9.mb-3.text-1100  What happens if I am not satisfied with my Posh Software purchase?
          p.text-700.fw-light If you're not satisfied with any Atlassian Cloud product or service, we offer a 30-day money-back guarantee. No questions asked.
        .mb-5 
          h5.fs-9.mb-3.text-1100  Can I try Posh Software for free?
          p.text-700.fw-light Of course! Your first 7 days are on us. Sign up for a new Posh Software site to get started. If you love it (and we think you will), you can continue using Posh Software simply by providing us with your payment details.

      .col-lg-6.px-lg-5 

        .mb-5 
          h5.fs-9.mb-3.text-1100  What's the difference between Posh Software, Posh Service Desk, and Posh Core?
          p.text-700.fw-light Posh Software is built specifically for software teams. Posh Software combines powerful developer tool integrations with the most important features and functionality required for great agile software development.
          p.text-700.fw-light Posh Service Desk is built for IT and service teams, providing them with everything they need for out-of-the-box incident, problem, and change management
          p.text-700.fw-light Posh Core is a simplified project management tool for customers looking to extend the power of Posh to their organization.

        .mb-5 
          h5.fs-9.mb-3.text-1100  What's the difference between Cloud and Server deployment options?
          p.text-700.fw-light With Posh Software Cloud, we host and setup your Posh Software site in the cloud for you. This is generally the best option for teams who want to get started quickly and easily, and for teams who don't want to manage the technical complexity of hosting themselves.
          p.text-700.fw-light With Posh Software Server and Posh Software Data Center, you host Posh Software on your own hardware and you're able to customize your setup however you'd like. This is generally the best option for teams who want to manage all the details of the setup and don't mind the additional complexity of hosting themselves.

mixin Organizers 
  +Section(container).bg-1000.text-center.pb-0
    .row.justify-content-center 
      .col-lg-8 
        h5.text-white.mb-4 Trusted by over 213,273 organizations across 184 countries.
        hr.mb-6.text-900
      .col-12.mb-5 
        a(href='#!').me-5.mb-5.d-inline-block
          img(src=`${CWD}assets/images/partners/partner-squarespace.png` alt="" width='320')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-nativebase.png` alt="" width='230')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-formidable.png` alt="" width='229')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-moduscreate.png` alt="" width='230')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-bugsnag.png` alt="" width='215')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-amazon.png` alt="" width='130')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-reactnative.png` alt="" width='108')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-gudog.png` alt="" width='121')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-rangle.io.png` alt="" width='133')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-businessoregon.png` alt="" width='130')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-healthsparq.png` alt="" width='126')
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-echobind.png` alt="" width="110")
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-salesforce.png` alt="" width="90")
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-capitalone.png` alt="" width="110")
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-instrument.png` alt="" width="113")
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-paypal.png` alt="" width="102")
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-qlik.png` alt="" width="176")
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-callstack.png` alt="" width="110")
        a.me-5.mb-5.d-inline-block(href='#!')
          img(src=`${CWD}assets/images/partners/partner-major.png` alt="" width="60")