mixin Masonry 
  .row.g-3.mt-3(data-isotope!={
    layoutMode: 'packery'
  })
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-01.jpg`, alt="").img-fluid.rounded-1.w-100 
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-02.jpg`, alt="").img-fluid.rounded-1.w-100 
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-03.jpg`, alt="").img-fluid.rounded-1.w-100 
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-04.jpg`, alt="").img-fluid.rounded-1.w-100
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-05.jpg`, alt="").img-fluid.rounded-1.w-100 
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-06.jpg`, alt="").img-fluid.rounded-1.w-100
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-07.jpg`, alt="").img-fluid.rounded-1.w-100
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-08.jpg`, alt="").img-fluid.rounded-1.w-100
    .col-sm-6.col-xl-4.isotope-item 
      img(src=`${CWD}assets/images/masonry-09.jpg`, alt="").img-fluid.rounded-1.w-100
       
